<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{- .title -}}</title>
    <link rel="stylesheet" href="/web/public/css/normalize.css">
    <link rel="stylesheet" href="/web/public/css/base.css">
    <link rel="stylesheet" href="/web/public/css/mq.css">
    <link rel="stylesheet" href="/web/public/css/content.css">
</head>
<body>
<div class="wrap">
    <main class="container">
        <div class="post">
            <article class="post-block">
                <h1 class="post-title">{{- .content.Title -}}</h1>
                <div class="post-info">创建时间&nbsp;&nbsp;{{- .content.CreatedAt | fmtDate -}}</div>
                <div class="post-content">{{- .content.BodyHTML | parseHtml -}}</div>
            </article>
        </div>
    </main>
</div>
</body>
</html>
